<%= link_to gravatar_for(current_user, size: 65), current_user %>
<span>
  <h4><%= current_user.name %></h4>
</span>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
